@model TestApp.Models.Cinema

@{
    ViewBag.Title = "DeleteCinema";
}


<h3>Вы действительно хотите удалить кинотеатр "@Model.NameCinema"?</h3>
<div>
    <hr />
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.IdCinema)
    @Html.HiddenFor(m=>m.NameCinema)
    @Html.HiddenFor(m => m.AddressId)
<div>
    <input type="submit" value="Удалить" class="btn btn-primary" /> |
    @Html.ActionLink("Отмена", "Index")
</div>
    }
</div>
