@model IEnumerable<TestApp.Models.Cinema>
    <table class="table">
        <tr>
            <th>
                Название кинотеатра
            </th>
            <th>
                Улица
            </th>
            <th>
                Дом
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameCinema)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.NumberHouse)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "EditCinema", new { idCinema = item.IdCinema }) | 
                    @Html.ActionLink("Удалить", "DeleteCinema", new {idCinema=item.IdCinema})
                </td>
            </tr>
        }

    </table>
