@model IEnumerable<TestApp.Models.Hall>
    @using TestApp.Utils
@{
    ViewBag.Title = "AddSession";
}

    <html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css" />
    </head>
    <body>
        <h2>Добавление сеанса для кинотеатра "@ViewBag.Cinema.NameCinema":</h2>
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true);
                    <div class="form-group">
                        <input type="number" name="idCinema" hidden value="@ViewBag.Cinema.IdCinema" />
                    </div>
                    <div class="form-group">
                        @Html.Label("Зал", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select id="ListHalls" class="search form-control" name="HallId" onchange="changedHall()">
                                <option hidden></option>
                                @foreach (var hall in Model)
                                {
                                    <option value="@hall.IdHall">@hall.NameHall</option>
                                }
                            </select>
                            @Html.ValidationMessage("HallId", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Фильм", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select class="search form-control" id="Film" name="FilmId">
                                <option hidden></option>
                                @foreach (var film in ViewBag.Films)
                                {
                                    <option value="@film.IdFilm">@film.NameFilm</option>
                                }
                            </select>
                            @Html.ValidationMessage("FilmId", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Начало проведения сеанса", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="datetime-local" min="@TimerUtil.GetTimeFormat(DateTime.Now.AddDays(1))" class="form-control" name="StartSession" />
                            @Html.ValidationMessage("StartSession", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1">
                            <input type="submit" value="Добавить" class="btn btn-primary" />
                        </div>
                        <div class="col-md-offset-2 col-md-1">
                            <a class="btn btn-default" href="~/Session/ChooseCinemaToAddSession">Отмена</a>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-6">
                <div>
                    @using (Ajax.BeginForm("SessionSearch", new AjaxOptions
                    {
                        UpdateTargetId = "result",
                        LoadingElementId = "loading",
                        LoadingElementDuration = 300
                    }))
                    {
                        <label>Зал кинотеатра:</label>
                        <select id="AjaxHalls" style="min-width:200px" required name="HallId">
                            <option hidden></option>
                            @foreach (var hall in Model)
                            {
                                <option value="@hall.IdHall">@hall.NameHall</option>
                            }
                        </select>
                        <input type="number" style="display:none" name="idCinema" value="@ViewBag.Cinema.IdCinema"/>
                        <input id="BtnSessions" type="submit" value="Вывести сеансы" class="btn btn-primary" />
                    }
                    <div id="loading" style="display:none; color:red; font-weight:bold;">
                        <p>Поиск...</p>
                    </div>
                    <div id="result"></div>
                </div>
            </div>
        </div>
        <script>
            function changedHall() {
                $("#AjaxHalls").val(document.getElementById("ListHalls").value);
                $("#BtnSessions").click();
            }
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
        <script>
            $(".search").chosen();
        </script>
    </body>
    </html>
@Scripts.Render("~/scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

