@model TestApp.Models.ModelAddFilm
    @using TestApp.Utils
@{
    ViewBag.Title = "AddFilm";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="col-md-12">
        <h2>Добавление фильма</h2>
        @using (Html.BeginForm("AddFilm", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(m => m.NameFilm, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.NameFilm, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.NameFilm, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-gro">
                @Html.LabelFor(m => m.DescriptionFilm, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.DescriptionFilm, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.DescriptionFilm, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Country, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.YearIssue, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.YearIssue, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.YearIssue, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DirectoryTrailer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input id="trailerdirectory" class="form-control" readonly type="text" value="@ConfigDirectory.VideoDirectory" name="DirectoryTrailer">
                    @Html.ValidationMessageFor(m => m.DirectoryTrailer, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <input id="flTr" hidden type="text" name="FileTrailer">
            <div class="form-group">
                @Html.Label("Трейлер для фильма: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-offset-3">
                    <input type="file" required onchange="methChange(this)" />
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Постер для фильма: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-offset-3">
                    <input type="file" required name="uploadImage" />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DurationMinutesFilm, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.DurationMinutesFilm, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.DurationMinutesFilm, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1">
                    <input type="submit" value="Добавить" class="btn btn-primary" />
                </div>
                <div class="col-md-1">
                    <a class="btn btn-default" href="~/Home/Index">Отмена</a>
                </div>
            </div>
        }
    </div>
    <script>
        function methChange(el) {
            document.getElementById("flTr").value = el.files.item(0).name;
        }
    </script>
</body>
</html>
@Scripts.Render("~/scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")