@model IEnumerable<TestApp.Models.Film>
@using TestApp.Models
@using TestApp.Utils
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css" />

    </head>
    <body>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <input id="DateField" class="form-control" min="@TimerUtil.GetDateFormat(DateTime.Now)" type="date" onchange="changedDate()" />
                <br />
                <div class="row col-md-12">
                    <div>
                        @using (Ajax.BeginForm("GetSessionsByFilm", new AjaxOptions
                        {
                            UpdateTargetId = "result",
                            LoadingElementId = "loading",
                            LoadingElementDuration = 300
                        }))
                        {
                            <label>Поиск фильма:</label>
                            <select id="Films" style="min-width:200px" class="search" required name="idFilm" onchange="changedFilm(this)">
                                <option hidden></option>
                                @foreach (var film in Model)
                                {
                                    <option value="@film.IdFilm">@film.NameFilm</option>
                                }
                            </select>
                            <input id="BtnSearchByFilm" class="btn btn-primary" style="display:none" type="submit" value="Вывести информацию о фильме" />
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div>
                    @using (Ajax.BeginForm("GetSessionsByStartSession", new AjaxOptions
                    {
                        UpdateTargetId = "result",
                        LoadingElementId = "loading",
                        LoadingElementDuration = 300
                    }))
                    {
                        <input id="InputDate" style="display:none" class="form-control" type="text" placeholder="Дата сеанса" name="startDate" />
                        <input id="BtnSessions" style="display:none" type="submit" value="Поиск" class="btn btn-primary" />
                    }
                    <div id="loading" style="display:none; color:red; font-weight:bold;">
                        <p>Поиск...</p>
                    </div>
                    <div id="result"></div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
        <script>
            $(".search").chosen();
        </script>
        <script>
            function changedDate() {
                $("#InputDate").val(document.getElementById("DateField").value);
                $("#BtnSessions").click();
            }
            function changedFilm(elem) {
                $("#BtnSearchByFilm").click();
            }
        </script>
    </body>  
    </html>
@Scripts.Render("~/scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
