<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (User.Identity.Name == "Admin")
                        {
                            <li>@Html.ActionLink("Кинотеатры", "Index", "Cinema")</li>
                            <li>@Html.ActionLink("Залы", "Index", "Hall")</li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                    Сеансы
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("Добавить", "ChooseCinemaToAddSession", "Session")
                                    </li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Фильмы", "Index", "Home")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Афиша", "GetListFilms", "Home")</li>
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                @User.Identity.Name
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Выйти","SignOut","Account")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
